<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="ms-3 navbar-brand">Tutorials</a>
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="tutorials" class="nav-link active">Listar</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link active">Novo</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="container">
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="currentTutorial.title" name="title" />
      </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="currentTutorial.description"
          name="description" />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Publicado" : "Pendente" }}
      </div>
    </form>

    <button type="button" class="badge bg-warning text-dark" *ngIf="currentTutorial.published"
      (click)="updatePublished(false)" routerLink="/tutorials">
      Pendente
    </button>
    <button *ngIf="!currentTutorial.published" type="button" class="badge bg-info text-dark"
      (click)="updatePublished(true)" routerLink="/tutorials">
      Publicado
    </button>

    <button type="button" class="badge bg-danger" (click)="deleteTutorial()" routerLink="/tutorials">
      Deletar
    </button>

    <button type="button" class="badge bg-success" (click)="updateTutorial()" routerLink="/tutorials">
      Atualizar
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</div>
