<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="ms-3 navbar-brand">Tutorials</a>
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="tutorials" class="nav-link active">Listar</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link active">Novo</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<form #tutorialForm="ngForm">
  <div class="mt-3 submit-form">
    <div *ngIf="submitted">
      <h4>Tutorial foi salvo com sucesso!</h4>
      <div class="d-grid gap-2 d-md-block margin-top">
        <button type="submit" class="btn btn-success" (click)="novoTutorial()">Novo Tutorial</button>
      </div>
    </div>

    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="tutorial.title" name="title" />
      </div>

      <div class="form-group">
        <label for="description" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="tutorial.description"
          name="description" />
      </div>

      <div class="d-grid gap-2 d-md-block margin-top">
        <button type="submit" class="btn btn-success" (click)="createTutorial()">Salvar</button>
      </div>
    </div>
  </div>
</form>
