<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="ms-3 navbar-brand">Tutorials</a>
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="tutorials" class="nav-link active">Listar</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link active">Novo</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>


<div class="list row">
  <div class="mt-3 col-md-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Pesquise por um título" [(ngModel)]="title" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="pesquisarPorTitulo()">
          Pesquisar
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h4>Lista de tutoriais</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let tutorial of tutorials; let i = index" [class.active]="i == currentIndex"
        (click)="definirTutorialAtivo(tutorial, i)">
        {{ tutorial.title }}
      </li>
    </ul>
  </div>

  <div class="mt-3 col-md-12" style="width: 50%;">
    <div *ngIf="currentTutorial.id">
      <h4>Tutorial</h4>
      <div>
        <label><strong>Titulo:</strong></label> {{ currentTutorial.title }}
      </div>
      <div>
        <label><strong>Descrição:</strong></label>
        {{ currentTutorial.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Publicado" : "Pendente" }}
      </div>

      <button type="button" class="badge bg-primary" routerLink="/tutorials/{{ currentTutorial.id }}">Editar</button>
    </div>

    <button type="submit" class="mx-auto mt-3 btn btn-sm btn-danger" (click)="deleteAllTutorials(); atualizarLista()">
      Remover todos
    </button>

    <div *ngIf="!currentTutorial">
      <br />
      <p>Por favor selecione um tutorial...</p>
    </div>
  </div>
</div>
